$hover-text-and-button-header-color: #0057ff;
$contacts-section-bg-color: #0057ff;
$call-button-color: #0dd502;
$main-font-color: #000;
$background-sections-color: #ebefe6;
$content-icons-color: #379BB9;

$header-hover-transition: ease .5s;
$sub-menu-transition: ease .2s;
$footer-link-transition: ease-in-out .3s;
$blog-transition: ease .5s;

$portfolio-box-shadow: 0 0 8px 0 rgba(0,0,0,.2);
$contacts-box-shadow: 0 0 12px 2px rgba(0, 0, 0, 0.42);